<!-- <p>home2 works!</p> -->
<div class="layout-footer p-1" style="background-color:rgb(31, 144, 172)">
    <div class="grid">
        <div class="col-8" style="font-family:'Times New Roman', Times, serif;color:white">
            <div style="font-size:xx-large">Cayman</div>
            <div style="font-size:small;margin-left:3vh">We care for you</div>
        </div>
        <div class="col-4 footer-icons">
            <a>
                <i class="pi pi-user" style="font-size: 1em;color:white"></i>
            </a>
            <a>
                <i class="pi pi-cog" style="font-size: 1em;color:white"></i>
            </a>
        </div>
    </div>
</div>

<div class="card" style="background-color:rgb(181, 225, 236)">
    <div class="grid">
        <div class="col-1"></div>
        <div class="col-10">
            <!-- <div class="layout-footer p-1" style="background-color:rgb(92, 192, 206);border-radius: 0.5em;">
                <div class="grid">
                    <div class="col-10">
                        <h4 style="color:white;margin-left: 1rem;">Business Intelligence App Store</h4>
                    </div>
                    <div class="col-2 footer-icons">
                         <img src="assets/home1/img.jpg" alt="" width="20%"> 
                    </div>
                </div>
            </div> -->
            <div>
                <p-panel [style]="{'max-width':'100rem','margin-top':'0%','background-color':'rgb(236, 244, 252)'}"
                    styleClass="shadow-2" class="panel1" header="Business Intelligence App Store">
                    <br>
                    <p-dropdown placeholder=" Category:  Hospitals" optionLabel="name"></p-dropdown>
                    <!-- [style]="{'width':'220px'}"    -->
                    <br>

                    <div class="grid" style="justify-content: center;">
                        <!-- <div class="col-12 lg:col-1"></div> -->

                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px;">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">
                                <!-- <br> -->
                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(151, 237, 252)">
                                        <br>
                                        <img src="assets/home2/first-aid-box.png" alt="" width="75%"
                                            style="margin-left:2.5vh">

                                    </div>
                                    <div style="text-align:center"><b> Traffic Dashboard </b><br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(231, 201, 248)">
                                        <br>
                                        <img src="assets/home2/cardiology.png" alt="" width="75%"
                                            style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> Cardiology Traffic </b> <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(194, 238, 144)">
                                        <br>
                                        <img src="assets/home2/clock.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> Time Dashboard </b> <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">
                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(133, 192, 247)">
                                        <br>
                                        <img src="assets/home2/prescription.png" alt="" width="75%"
                                            style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> OR Times </b><br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>


                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">
                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(196, 221, 253)">
                                        <br>
                                        <img src="assets/home2/medal.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> Quality Dashboard </b> <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <!-- <div class="col-12 lg:col-2"></div> -->

                    </div>



                    <div class="grid" style=" justify-content: center;">
                        <!-- <div class="col-12 lg:col-1"></div> -->

                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">
                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(159, 197, 219)">
                                        <br>
                                        <img src="assets/home2/assurance.png" alt="" width="75%"
                                            style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> Physician Assesment </b><br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(160, 155, 209)">
                                        <br>
                                        <img src="assets/home2/trophy.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> Patient Satisfaction </b><br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>

                        </div>


                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(252, 180, 210)">
                                        <br>
                                        <img src="assets/home2/aid-kit.png" alt="" width="75%"
                                            style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> Utilization Dashboard </b><br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">
                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(184, 240, 101)">
                                        <br>
                                        <img src="assets/home2/wallet.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> Financial Dashboard </b> <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>

                        <div class="col-10 md:col-5 lg:col-2" style="margin-left:auto;margin-right:auto;margin-top:30px">

                            <p-card [style]="{'display':'flex','max-width':'14rem'}">

                                <div class="p-grid  p-fluid">
                                    <div style="background-color:rgb(80, 92, 72)">
                                        <br>
                                        <img src="assets/home2/cost.png" alt="" width="75%" style="margin-left:2.5vh">
                                    </div>
                                    <div style="text-align:center"><b> Cost manager </b> <br><br>
                                        <p-rating [ngModel]="val3" readonly="true" stars="5" [cancel]="false">
                                        </p-rating>
                                    </div>
                                    <br>
                                </div>

                            </p-card>
                        </div>
                        <!-- <div class="col-12 lg:col-2"></div> -->

                    </div>
                </p-panel>
            </div>
        </div>
    </div>

</div>